* {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
}
.container {
  background-color: rgb(19, 18, 18);  
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container .logo {
  border-radius: 50%;
  width: 50%;
}
.container h1 {
  font-style: italic;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.container h2 {  
  margin-top: 1rem;
  margin-bottom: .2rem;
  font-style: italic;
  font-size: 2.5rem;
}
.container small {  
  font-size: .6rem;
  letter-spacing: 5px;
  margin-bottom: 2rem;  
}
