<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-10 lg:p-12 mb-8 shadow-lg">
      <!-- Título -->
      <div class="text-center">
        <h2 class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold">
          Contacto
        </h2>
        <p class="text-tc-gray text-base mt-3">
          Si en algo puedo ayudarte, no dudes en contactarme.
        </p>
      </div>

      <!-- Datos de Contacto -->
      <div class="mt-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 bg-tc-black-l p-6 rounded-md shadow-md">
          <a
            href="mailto:judlup@trycatch.tv"
            class="flex flex-col items-center bg-tc-gray-l py-4 rounded-md text-tc-black-l font-semibold transition-transform transform hover:scale-105 hover:bg-tc-yellow"
          >
            <span class="text-lg">📧 Correo</span>
            <span class="text-sm mt-2">judlup@trycatch.tv</span>
          </a>

          <a
            href="https://www.linkedin.com/in/judlup/"
            target="_blank"
            class="flex flex-col items-center bg-tc-gray-l py-4 rounded-md text-tc-black-l font-semibold transition-transform transform hover:scale-105 hover:bg-tc-yellow"
          >
            <span class="text-lg">🔗 LinkedIn</span>
            <span class="text-sm mt-2">in/judlup</span>
          </a>

          <a
            href="https://www.instagram.com/trycatch_tv/"
            target="_blank"
            class="flex flex-col items-center bg-tc-gray-l py-4 rounded-md text-tc-black-l font-semibold transition-transform transform hover:scale-105 hover:bg-tc-yellow"
          >
            <span class="text-lg">📸 Instagram</span>
            <span class="text-sm mt-2">@TryCatch_tv</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
