<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div
      class="bg-tc-black border border-gray-700 rounded-lg p-10 lg:p-12 mb-12"
    >
      <!-- Título -->
      <div class="text-center mb-8">
        <h2 class="text-white text-3xl lg:text-4xl font-extrabold mb-2">
          Contacto
        </h2>
        <p class="text-gray-300 text-base">
          Si en algo puedo ayudarte, no dudes en contactarme.
        </p>
      </div>

      <!-- Datos de Contacto -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-5xl mx-auto">
        <a
          href="mailto:judlup@trycatch.tv"
          class="bg-tc-black-l border border-gray-700 rounded-md p-6 text-center hover:shadow-xl transition-transform transform hover:scale-105"
        >
          <div class="text-2xl mb-2">📧</div>
          <h3 class="text-tc-yellow font-semibold text-lg mb-1">Correo</h3>
          <p class="text-sm text-gray-300">judlup@trycatch.tv</p>
        </a>

        <a
          href="https://www.linkedin.com/in/judlup/"
          target="_blank"
          class="bg-tc-black-l border border-gray-700 rounded-md p-6 text-center hover:shadow-xl transition-transform transform hover:scale-105"
        >
          <div class="text-2xl mb-2">🔗</div>
          <h3 class="text-tc-yellow font-semibold text-lg mb-1">LinkedIn</h3>
          <p class="text-sm text-gray-300">in/judlup</p>
        </a>

        <a
          href="https://www.instagram.com/trycatch_tv/"
          target="_blank"
          class="bg-tc-black-l border border-gray-700 rounded-md p-6 text-center hover:shadow-xl transition-transform transform hover:scale-105"
        >
          <div class="text-2xl mb-2">📸</div>
          <h3 class="text-tc-yellow font-semibold text-lg mb-1">Instagram</h3>
          <p class="text-sm text-gray-300">@TryCatch_tv</p>
        </a>
      </div>
    </div>
  </div>
</section>
