<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <div>
        <span
          class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold mt-5 mb-6"
        >
          Proyectos
        </span>
      </div>
      <div class="mt-4">
        <div class="text-tc-gray-l text-sm mb-4">
          Estos son algunos de los proyectos en los que trabajamos y son Open
          Source
        </div>
        <div class="flex flex-col lg:flex-row lg:justify-between">
          <!--Proyecto-->
          <div
            class="flex flex-col items-center bg-tc-black-l py-4 px-8 rounded-md mb-4 lg:mb-0 w-full lg:w-1/4"
          >
            <div class="text-tc-gray-l text-lg">My Level</div>
            <div class="mt-2 mb-4 h-24">
              <p class="text-justify text-xs text-tc-gray">
                Extensión para Google Chrome de encuesta para medir el seniority
                de los desarrolladores mediante 16 preguntas.
              </p>
            </div>
            <div class="flex w-full justify-around lg:justify-between">
              <a
                href="https://chrome.google.com/webstore/detail/my-level/mbdaaoibdkddnkadkpjakclfhfogenma"
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
              >
                Ver
                <svg
                  aria-hidden="true"
                  class="ml-2 -mr-1 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg
                >
              </a>
              <a
                href="https://github.com/Trycatch-tv/my-level"
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
              >
                Repo
                <svg
                  aria-hidden="true"
                  class="ml-2 -mr-1 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg
                >
              </a>
            </div>
          </div>
          <!--Proyecto-->
          <!--Proyecto-->
          <div
            class="flex flex-col items-center bg-tc-black-l py-4 px-8 rounded-md mb-4 lg:mb-0 w-full lg:w-1/4"
          >
            <div class="text-tc-gray-l text-lg">Sitio Devs Latam</div>
            <div class="mt-2 mb-4 h-24">
              <p class="text-justify text-xs text-tc-gray">
                Lading Page de Devs Latam, con información de la comunidad y sus
                proyectos.
              </p>
            </div>
            <div class="flex w-full justify-around lg:justify-between">
              <a
                href="https://dev-devslatam.netlify.app/"
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
              >
                Ver
                <svg
                  aria-hidden="true"
                  class="ml-2 -mr-1 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg
                >
              </a>
              <a
                href="https://github.com/Trycatch-tv/devs-latam-frontend"
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
              >
                Repo
                <svg
                  aria-hidden="true"
                  class="ml-2 -mr-1 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg
                >
              </a>
            </div>
          </div>
          <!--Proyecto-->
          <!--Proyecto-->
          <div
            class="flex flex-col items-center bg-tc-black-l py-4 px-8 rounded-md mb-4 lg:mb-0 w-full lg:w-1/4"
          >
            <div class="text-tc-gray-l text-lg">Acortador de links</div>
            <div class="mt-2 mb-4 h-24">
              <p class="text-justify text-xs text-tc-gray">
                Acortador de enlaces con AWS Lambdas, React y DynamoDB para los
                videos que se comparten en las diferentes cuentas.
              </p>
            </div>
            <div class="flex w-full justify-around lg:justify-between">
              <a
                href="https://trycatchlinks.netlify.app"
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
              >
                Ver
                <svg
                  aria-hidden="true"
                  class="ml-2 -mr-1 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg
                >
              </a>
              <a
                href="https://github.com/Trycatch-tv?q=short&type=all&language=&sort="
                class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
              >
                Repo
                <svg
                  aria-hidden="true"
                  class="ml-2 -mr-1 w-4 h-4"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg
                >
              </a>
            </div>
          </div>
          <!--Proyecto-->
        </div>
      </div>
    </div>
  </div>
</section>
