<!--  Devs Latam-->
<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <div>
        <span
          class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold mt-5 mb-6"
        >
          Devs Latam
        </span>
      </div>
      <div class="mt-4">
        <div class="bg-tc-black-l p-6 lg:p-8 mt-5 rounded-md">
          <p class="text-justify text-white mb-2 text-sm">
            Devs Latam es una plataforma para desarrolladores de software en
            América Latina que busca fomentar el aprendizaje y el crecimiento
            profesional. Ofrece programas, proyectos y oportunidades para
            colaborar, aprender habilidades técnicas y no técnicas y recibir
            retroalimentación. Además, conecta a los desarrolladores con
            oportunidades laborales y promueve una cultura de aprendizaje y
            colaboración continua en la región.
          </p>
        </div>
      </div>
      <div class="mt-4">
        <div class="text-tc-gray-l text-xl lg:text-2xl mb-2">Estadísticas</div>
        <div
          class="flex flex-row justify-around lg:justify-between bg-tc-black-l py-4 px-2 lg:px-16 rounded-md"
        >
          <div class="text-tc-black bg-tc-gray rounded-md p-4">
            +800 Personas
          </div>
          <div class="text-tc-black bg-tc-gray rounded-md p-4">+15 Países</div>
          <div class="text-tc-black bg-tc-gray rounded-md p-4">
            +35 Proyectos
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="text-tc-gray-l text-xl lg:text-2xl mb-2">Fases</div>
        <div class="flex flex-col lg:flex-row lg:justify-between">
          <!--Pre Work-->
          <div
            class="flex flex-col mb-4 lg:mb-0 items-center bg-tc-black-l py-4 px-8 rounded-md w-full lg:w-1/4"
          >
            <div class="text-tc-gray-l text-lg">Pre Work</div>
            <div class="mt-2 mb-4">
              <p class="text-justify text-xs text-tc-gray">
                Una vía para quienes ya saben la sintaxis de un lenguaje pero
                aún no se deciden si ir por el backend o el frontend.
              </p>
            </div>
          </div>
          <!--Pre Work-->
          <!--Fase 1-->
          <div
            class="flex flex-col mb-4 lg:mb-0 items-center bg-tc-black-l py-4 px-8 rounded-md w-full lg:w-1/4"
          >
            <div class="text-tc-gray-l text-lg">Fase 1</div>
            <div class="mt-2 mb-4">
              <p class="text-justify text-xs text-tc-gray">
                Reforzamos tus habilidades en proyectos colaborativos en equipo.
              </p>
            </div>
          </div>
          <!--Fase 1-->
          <!--Fase 2-->
          <div
            class="flex flex-col mb-4 lg:mb-0 items-center bg-tc-black-l py-4 px-8 rounded-md w-full lg:w-1/4"
          >
            <div class="text-tc-gray-l text-lg">Fase 1</div>
            <div class="mt-2 mb-4">
              <p class="text-justify text-xs text-tc-gray">
                Pon a prueba todo lo que has aprendido en un proyecto desafiante
                y realista.
              </p>
            </div>
          </div>
          <!--Fase 2-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Devs Latam-->
