---
import { Icon } from "astro-icon";
---

<!--  Devs Latam-->
<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <div>
        <span
          class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold mt-5 mb-6"
        >
          Devs Latam
        </span>
      </div>
      <div class="mt-4">
        <div class="bg-tc-black-l p-6 lg:p-8 mt-5 rounded-md">
          <p class="text-justify text-white mb-2 text-sm">
            Devs Latam es una plataforma para desarrolladores de software en
            América Latina que busca fomentar el aprendizaje y el crecimiento
            profesional. Ofrece programas, proyectos y oportunidades para
            colaborar, aprender habilidades técnicas y no técnicas y recibir
            retroalimentación. Además, conecta a los desarrolladores con
            oportunidades laborales y promueve una cultura de aprendizaje y
            colaboración continua en la región.
          </p>
        </div>
      </div>
      <div class="mt-4">
        <div class="text-tc-gray-l text-xl lg:text-2xl mb-2">Estadísticas</div>
        <div
          class="flex flex-row justify-around lg:justify-between bg-tc-black-l py-4 px-2 lg:px-16 rounded-md"
        >
          <div class="text-tc-black bg-tc-gray rounded-md p-4">
            +1000 Personas
          </div>
          <div class="text-tc-black bg-tc-gray rounded-md p-4">+15 Países</div>
          <div class="text-tc-black bg-tc-gray rounded-md p-4">
            +35 Proyectos
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="mb-2">
          <span class="text-white text-xl lg:text-2xl"
            >Side Project: GlassCamp</span
          >
        </div>
        <div class="px-8 py-4 bg-tc-black-l rounded-md flex justify-between">
          <a
            href="https://github.com/Trycatch-tv/ValidadorBootcamp"
            target="_blank"
            class="w-3/12"
          >
            <div
              class="p-4 bg-tc-gray rounded-md flex flex-col justify-center hover:bg-tc-black transition transition-fade duration-300 ease-in-out hover:text-tc-yellow"
            >
              <Icon class="w-full h-10 text-tc-black-l" name="mdi:github" />
              <span class="w-full mt-2 text-center">Documentación</span>
            </div>
          </a>
          <a
            href="https://github.com/Trycatch-tv/ValidadorBootcamp"
            target="_blank"
            class="w-3/12 ml-2"
          >
            <div
              class="p-4 bg-tc-gray rounded-md flex flex-col justify-center hover:bg-tc-black transition transition-fade duration-300 ease-in-out hover:text-tc-yellow"
            >
              <Icon class="w-full h-10 text-tc-black-l" name="mdi:github" />
              <span class="w-full mt-2 text-center">Backend</span>
            </div>
          </a>
          <a
            href="https://github.com/Trycatch-tv/ValidadorBootcamp"
            target="_blank"
            class="w-3/12 ml-2"
          >
            <div
              class="p-4 bg-tc-gray rounded-md flex flex-col justify-center hover:bg-tc-black transition transition-fade duration-300 ease-in-out hover:text-tc-yellow"
            >
              <Icon class="w-full h-10 text-tc-black-l" name="mdi:github" />
              <span class="w-full mt-2 text-center">Frontend</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Devs Latam-->
