---
import BlogSearch from "../components/landing/blog/BlogSearch.jsx"
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = await Astro.glob("../pages/posts/*.md")
const posts = allPosts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  )
})

// Obtener parámetros de búsqueda desde la URL SSR
const url = new URL(Astro.request.url)
const q = url.searchParams.get("q") || ""
const searchQuery = q.toLowerCase()

const filteredPosts = posts.filter(
  (post) =>
    post.frontmatter.title.toLowerCase().includes(searchQuery) ||
    post.frontmatter.author.toLowerCase().includes(searchQuery)
)
---

<BaseLayout title={`Blog`}>
  <div
    class="max-w-4xl mx-auto my-20 p-8 bg-tc-black dark:bg-white rounded-md shadow-lg"
  >
    <h1 class="text-4xl mb-4 font-bold text-white dark:text-tc-black">
      TryCatch.tv | Blog
    </h1>
    <div class="border-b-2 border-tc-black-l mb-8"></div>
    <h2 class="text-2xl mb-8 text-white dark:text-tc-black-l">
      Últimas entradas:
    </h2>

    <BlogSearch
      client:load
      posts={posts.map((post) => ({
        url: post.url,
        frontmatter: post.frontmatter,
      }))}
    />
  </div>
</BaseLayout>
