---
import Navbar from "../components/global/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="TryCatch.tv">
  <Navbar />
  <!-- Banner -->
  <!--<div-->
  <!--  id="marketing-banner"-->
  <!--  tabindex="-1"-->
  <!--  class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-20rem)] p-4 -translate-x-1/2 bg-white border border-gray-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-20 dark:bg-gray-700 dark:border-gray-600"-->
  <!--&gt;-->
  <!--  <div-->
  <!--    class="flex flex-col items-start mb-3 mr-4 md:items-center md:flex-row md:mb-0"-->
  <!--  >-->
  <!--    <a-->
  <!--      href="https://flowbite.com/"-->
  <!--      class="flex items-center mb-2 border-gray-200 md:pr-4 md:mr-4 md:border-r md:mb-0 dark:border-gray-600"-->
  <!--    >-->
  <!--      <img-->
  <!--        src="https://trycatch.tv/try_catch.jpg"-->
  <!--        class="h-6 mr-2"-->
  <!--        alt="Flowbite Logo"-->
  <!--      />-->
  <!--      <span-->
  <!--        class="self-center text-lg font-semibold whitespace-nowrap dark:text-white"-->
  <!--        >TryCatch.tv</span-->
  <!--      >-->
  <!--    </a>-->
  <!--    <p-->
  <!--      class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400"-->
  <!--    >-->
  <!--      Live todos los días en 8.30pm hora colombia-->
  <!--    </p>-->
  <!--  </div>-->
  <!--  <div class="flex items-center flex-shrink-0">-->
  <!--    <a-->
  <!--      href="#"-->
  <!--      class="px-5 py-2 mr-2 text-xs font-medium text-white bg-purple-700 rounded-lg hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800"-->
  <!--      >Twitch</a-->
  <!--    >-->
  <!--    <button-->
  <!--      data-dismiss-target="#marketing-banner"-->
  <!--      type="button"-->
  <!--      class="absolute top-2.5 right-2.5 md:relative md:top-auto md:right-auto flex-shrink-0 inline-flex justify-center items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white"-->
  <!--    >-->
  <!--      <svg-->
  <!--        aria-hidden="true"-->
  <!--        class="w-4 h-4"-->
  <!--        fill="currentColor"-->
  <!--        viewBox="0 0 20 20"-->
  <!--        xmlns="http://www.w3.org/2000/svg"-->
  <!--        ><path-->
  <!--          fill-rule="evenodd"-->
  <!--          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"-->
  <!--          clip-rule="evenodd"></path></svg-->
  <!--      >-->
  <!--      <span class="sr-only">Close banner</span>-->
  <!--    </button>-->
  <!--  </div>-->
  <!--</div>-->
  <!-- Banner -->

  <!-- Intro -->
  <section class="bg-tc-gray-l mt-5 py-16">
    <div class="px-4 mx-auto max-w-screen-xl">
      <div
        class="bg-tc-black border border-gray-200 border-gray-700 rounded-lg p-12"
      >
        <!--Título-->
        <div class="flex justify-center items-center flex-row h-96">
          <div class="mr-10 w-2/6 flex items-center justify-center">
            <img
              class="w-72 h-72 rounded-full"
              src="https://pbs.twimg.com/profile_images/1640944334068494337/rnq1krLj_400x400.jpg"
              alt="Judlup"
            />
          </div>
          <div
            class="flex flex-col items-center border-l-4 border-b-tc-gray-l h-72 justify-center w-4/6"
          >
            <span
              class="dark:text-tc-gray-l text-4xl font-extrabold mt-5 mb-6 ml-5"
            >
              Venga le digo, bienvenido
            </span>
            <p class="text-lg font-normal dark:text-tc-gray mb-6">
              ✨Aprendamos intentándolo 👨‍💻✨.
            </p>
            <span class="text-tc-gray-l p-6 text-sm text-justify">
              👋 Hola! Soy Julián Luna 🚀, tengo más de 10 años de experiencia
              en el mundo tech. Actualmente soy un Sr. Engineer Lead en Rappi.
              Apasionado por Javascript y la arquitectura de software. 🖥️
              Creador de contenido en Tik Tok y en Twitch 🎮 donde comparto mi
              conocimiento diario a las 8.30 PM 🕣 (hora de Colombia 🇨🇴). <br />
            </span>
            <span class="text-tc-gray-l">❤ Nikol Daniela</span>
          </div>
        </div>
        <!--Título-->

        <!--CTAs-->
        <div class="flex justify-around">
          <a
            href="#"
            class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
          >
            Últimos videos
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path></svg
            >
          </a>
          <a
            href="#"
            class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg text-tc-black bg-tc-gray-l hover:text-tc-gray-l hover:bg-tc-black-l"
          >
            Último Live
            <svg
              aria-hidden="true"
              class="ml-2 -mr-1 w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path></svg
            >
          </a>
        </div>
        <!--CTAs-->
      </div>
    </div>
  </section>
  <!-- Intro -->

  <!-- Redes Sociales -->
  <section class="bg-tc-gray-l dark:bg-tc-gray-l">
    <div class="px-4 mx-auto max-w-screen-xl">
      <div
        class="dark:bg-tc-black border border-gray-200 dark:border-gray-700 rounded-lg p-12 mb-8"
      >
        <!--Redes Sociales-->
        <div>
          <span class="dark:text-tc-gray-l text-4xl font-extrabold mt-5 mb-6">
            Mis redes sociales
          </span>
          <ul class="flex justify-around bg-tc-black-l rounded-md p-5 mt-5">
            <li>
              <!--Tik Tok-->
              <svg
                width="30px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-tc-yellow"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.9 3C11.9 2.72386 12.1239 2.5 12.4 2.5H15.2C15.4597 2.5 15.6762 2.69883 15.6982 2.9576C15.8456 4.68994 16.601 5.69493 17.4512 6.27309C18.3233 6.86619 19.3321 7.03338 19.9778 7.00464C20.2536 6.99236 20.4872 7.20604 20.4995 7.48191C20.5118 7.75778 20.2981 7.99137 20.0222 8.00365C19.2013 8.04019 17.97 7.83529 16.8888 7.09999C15.8711 6.40784 15.0166 5.26502 14.7549 3.5H12.9V13.9666C12.9 15.6646 12.2277 16.9506 11.2484 17.6391C10.267 18.3291 9.00524 18.3869 7.9957 17.6557C6.74437 16.7493 6.5284 15.3245 7.03027 14.2013C7.46605 13.226 8.44075 12.4775 9.7 12.4544V10.1748C8.78509 10.2343 7.61007 10.4676 6.61391 11.0866C5.4598 11.8038 4.5 13.0635 4.5 15.3374C4.5 16.8087 4.89793 17.8589 5.48366 18.6091C6.07288 19.3638 6.88196 19.8527 7.76297 20.1451C8.64578 20.438 9.58405 20.5275 10.3975 20.493C11.2249 20.4579 11.865 20.2973 12.169 20.139C13.4079 19.4936 14.1093 18.8565 14.5221 18.0477C14.9437 17.2218 15.1 16.15 15.1 14.5541V9.0708C15.1 8.89826 15.189 8.7379 15.3354 8.64658C15.4818 8.55525 15.6649 8.54586 15.8199 8.62173C16.4456 8.9281 18.1979 9.59709 20.0407 9.74745C20.3159 9.76991 20.5208 10.0112 20.4983 10.2865C20.4759 10.5617 20.2346 10.7666 19.9593 10.7441C18.4542 10.6213 17.0188 10.185 16.1 9.82926V14.5541C16.1 16.1868 15.9463 17.4572 15.4128 18.5023C14.8706 19.5646 13.972 20.3273 12.631 21.0259C12.1423 21.2804 11.3361 21.4541 10.4399 21.4921C9.52965 21.5307 8.467 21.4323 7.44799 21.0942C6.42717 20.7554 5.43351 20.1698 4.69545 19.2245C3.95389 18.2748 3.5 16.9995 3.5 15.3374C3.5 12.7156 4.64021 11.1357 6.08611 10.2373C7.49667 9.36075 9.15221 9.1583 10.2 9.1583C10.4761 9.1583 10.7 9.38216 10.7 9.6583V12.9874C10.7 13.1331 10.6365 13.2714 10.5262 13.3664C10.4158 13.4614 10.2695 13.5036 10.1255 13.4819C9.06028 13.3214 8.27059 13.8767 7.94327 14.6092C7.6178 15.3376 7.74632 16.2403 8.5823 16.8458C9.21629 17.305 10.0101 17.2873 10.6732 16.8211C11.3386 16.3532 11.9 15.4019 11.9 13.9666V3Z"
                ></path>
              </svg>
            </li>
            <li>
              <!--Twitch-->
              <svg
                width="30px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-tc-yellow"
              >
                <path d="M12 6.5H13.5V11H12V6.5ZM17.25 6.5V11H15.75V6.5H17.25Z"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 5.75L6.75 2H21V12.5L14.25 19.25H11.25L7.5 23V19.25H3V5.75ZM19.5 11.75L16.5 14.75H13.5L10.5 17.75V14.75H7.5V3.5H19.5V11.75ZM12 6.5H13.5V11H12V6.5ZM17.25 6.5V11H15.75V6.5H17.25Z"
                  class="fill-tc-yellow"></path>
              </svg>
            </li>
            <li>
              <!--Youtube-->
              <svg
                width="30px"
                viewBox="0 -4 32 32"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid"
                class="fill-tc-yellow"
              >
                <path
                  d="M30.722,20.579 C30.137,21.894 28.628,23.085 27.211,23.348 C27.066,23.375 23.603,24.000 16.010,24.000 L15.990,24.000 C8.398,24.000 4.932,23.375 4.788,23.349 C3.371,23.085 1.861,21.894 1.275,20.578 C1.223,20.461 0.001,17.647 0.001,12.000 C0.001,6.353 1.223,3.538 1.275,3.421 C1.861,2.105 3.371,0.915 4.788,0.652 C4.932,0.625 8.398,-0.000 15.990,-0.000 C23.603,-0.000 27.066,0.625 27.210,0.651 C28.628,0.915 30.137,2.105 30.723,3.420 C30.775,3.538 32.000,6.353 32.000,12.000 C32.000,17.647 30.775,20.461 30.722,20.579 ZM28.893,4.230 C28.581,3.529 27.603,2.759 26.845,2.618 C26.813,2.612 23.386,2.000 16.010,2.000 C8.615,2.000 5.185,2.612 5.152,2.618 C4.394,2.759 3.417,3.529 3.104,4.234 C3.094,4.255 2.002,6.829 2.002,12.000 C2.002,17.170 3.094,19.744 3.106,19.770 C3.417,20.471 4.394,21.241 5.153,21.382 C5.185,21.388 8.615,22.000 15.990,22.000 L16.010,22.000 C23.386,22.000 26.813,21.388 26.846,21.382 C27.604,21.241 28.581,20.471 28.894,19.766 C28.904,19.744 29.998,17.170 29.998,12.000 C29.998,6.830 28.904,4.255 28.893,4.230 ZM13.541,17.846 C13.379,17.949 13.193,18.000 13.008,18.000 C12.842,18.000 12.676,17.959 12.525,17.875 C12.206,17.699 12.008,17.364 12.008,17.000 L12.008,7.000 C12.008,6.637 12.204,6.303 12.521,6.127 C12.838,5.950 13.227,5.958 13.534,6.149 L21.553,11.105 C21.846,11.286 22.026,11.606 22.027,11.951 C22.028,12.296 21.852,12.618 21.560,12.801 L13.541,17.846 ZM14.009,8.794 L14.009,15.189 L19.137,11.963 L14.009,8.794 Z"
                ></path>
              </svg>
            </li>
            <li>
              <!--  Instagram-->
              <svg
                width="30px"
                viewBox="0 0 24 24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>instagram [#167]</title>
                <desc>Created with Sketch.</desc>
                <defs> </defs>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  class="fill-tc-yellow"
                  fill-rule="evenodd"
                >
                  <g
                    id="Dribbble-Light-Preview"
                    transform="translate(-340.000000, -7439.000000)"
                    class="fill-tc-yellow"
                  >
                    <g id="icons" transform="translate(56.000000, 160.000000)">
                      <path
                        d="M289.869652,7279.12273 C288.241769,7279.19618 286.830805,7279.5942 285.691486,7280.72871 C284.548187,7281.86918 284.155147,7283.28558 284.081514,7284.89653 C284.035742,7285.90201 283.768077,7293.49818 284.544207,7295.49028 C285.067597,7296.83422 286.098457,7297.86749 287.454694,7298.39256 C288.087538,7298.63872 288.809936,7298.80547 289.869652,7298.85411 C298.730467,7299.25511 302.015089,7299.03674 303.400182,7295.49028 C303.645956,7294.859 303.815113,7294.1374 303.86188,7293.08031 C304.26686,7284.19677 303.796207,7282.27117 302.251908,7280.72871 C301.027016,7279.50685 299.5862,7278.67508 289.869652,7279.12273 M289.951245,7297.06748 C288.981083,7297.0238 288.454707,7296.86201 288.103459,7296.72603 C287.219865,7296.3826 286.556174,7295.72155 286.214876,7294.84312 C285.623823,7293.32944 285.819846,7286.14023 285.872583,7284.97693 C285.924325,7283.83745 286.155174,7282.79624 286.959165,7281.99226 C287.954203,7280.99968 289.239792,7280.51332 297.993144,7280.90837 C299.135448,7280.95998 300.179243,7281.19026 300.985224,7281.99226 C301.980262,7282.98483 302.473801,7284.28014 302.071806,7292.99991 C302.028024,7293.96767 301.865833,7294.49274 301.729513,7294.84312 C300.829003,7297.15085 298.757333,7297.47145 289.951245,7297.06748 M298.089663,7283.68956 C298.089663,7284.34665 298.623998,7284.88065 299.283709,7284.88065 C299.943419,7284.88065 300.47875,7284.34665 300.47875,7283.68956 C300.47875,7283.03248 299.943419,7282.49847 299.283709,7282.49847 C298.623998,7282.49847 298.089663,7283.03248 298.089663,7283.68956 M288.862673,7288.98792 C288.862673,7291.80286 291.150266,7294.08479 293.972194,7294.08479 C296.794123,7294.08479 299.081716,7291.80286 299.081716,7288.98792 C299.081716,7286.17298 296.794123,7283.89205 293.972194,7283.89205 C291.150266,7283.89205 288.862673,7286.17298 288.862673,7288.98792 M290.655732,7288.98792 C290.655732,7287.16159 292.140329,7285.67967 293.972194,7285.67967 C295.80406,7285.67967 297.288657,7287.16159 297.288657,7288.98792 C297.288657,7290.81525 295.80406,7292.29716 293.972194,7292.29716 C292.140329,7292.29716 290.655732,7290.81525 290.655732,7288.98792"
                        id="instagram-[#167]"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </svg>
            </li>
            <li>
              <!--  LinkedIn-->
              <svg
                width="30px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-tc-yellow"
              >
                <path
                  d="M18.72 3.99997H5.37C5.19793 3.99191 5.02595 4.01786 4.86392 4.07635C4.70189 4.13484 4.55299 4.22471 4.42573 4.34081C4.29848 4.45692 4.19537 4.59699 4.12232 4.75299C4.04927 4.909 4.0077 5.07788 4 5.24997V18.63C4.01008 18.9901 4.15766 19.3328 4.41243 19.5875C4.6672 19.8423 5.00984 19.9899 5.37 20H18.72C19.0701 19.9844 19.4002 19.8322 19.6395 19.5761C19.8788 19.32 20.0082 18.9804 20 18.63V5.24997C20.0029 5.08247 19.9715 4.91616 19.9078 4.76122C19.8441 4.60629 19.7494 4.466 19.6295 4.34895C19.5097 4.23191 19.3672 4.14059 19.2108 4.08058C19.0544 4.02057 18.8874 3.99314 18.72 3.99997ZM9 17.34H6.67V10.21H9V17.34ZM7.89 9.12997C7.72741 9.13564 7.5654 9.10762 7.41416 9.04768C7.26291 8.98774 7.12569 8.89717 7.01113 8.78166C6.89656 8.66615 6.80711 8.5282 6.74841 8.37647C6.6897 8.22474 6.66301 8.06251 6.67 7.89997C6.66281 7.73567 6.69004 7.57169 6.74995 7.41854C6.80986 7.26538 6.90112 7.12644 7.01787 7.01063C7.13463 6.89481 7.2743 6.80468 7.42793 6.74602C7.58157 6.68735 7.74577 6.66145 7.91 6.66997C8.07259 6.66431 8.2346 6.69232 8.38584 6.75226C8.53709 6.8122 8.67431 6.90277 8.78887 7.01828C8.90344 7.13379 8.99289 7.27174 9.05159 7.42347C9.1103 7.5752 9.13699 7.73743 9.13 7.89997C9.13719 8.06427 9.10996 8.22825 9.05005 8.3814C8.99014 8.53456 8.89888 8.6735 8.78213 8.78931C8.66537 8.90513 8.5257 8.99526 8.37207 9.05392C8.21843 9.11259 8.05423 9.13849 7.89 9.12997ZM17.34 17.34H15V13.44C15 12.51 14.67 11.87 13.84 11.87C13.5822 11.8722 13.3313 11.9541 13.1219 12.1045C12.9124 12.2549 12.7546 12.4664 12.67 12.71C12.605 12.8926 12.5778 13.0865 12.59 13.28V17.34H10.29V10.21H12.59V11.21C12.7945 10.8343 13.0988 10.5225 13.4694 10.3089C13.84 10.0954 14.2624 9.98848 14.69 9.99997C16.2 9.99997 17.34 11 17.34 13.13V17.34Z"
                ></path>
              </svg>
            </li>
            <li>
              <!--  Spotify-->
              <svg
                width="30px"
                viewBox="0 0 24 24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-tc-yellow"
              >
                <title>spotify [#162]</title>
                <desc>Created with Sketch.</desc>
                <defs> </defs>
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill-rule="evenodd"
                >
                  <g
                    id="Dribbble-Light-Preview"
                    transform="translate(-140.000000, -7479.000000)"
                  >
                    <g id="icons" transform="translate(56.000000, 160.000000)">
                      <path
                        d="M99.915,7327.865 C96.692,7325.951 91.375,7325.775 88.297,7326.709 C87.803,7326.858 87.281,7326.58 87.131,7326.085 C86.981,7325.591 87.26,7325.069 87.754,7324.919 C91.287,7323.846 97.159,7324.053 100.87,7326.256 C101.314,7326.52 101.46,7327.094 101.196,7327.538 C100.934,7327.982 100.358,7328.129 99.915,7327.865 L99.915,7327.865 Z M99.81,7330.7 C99.584,7331.067 99.104,7331.182 98.737,7330.957 C96.05,7329.305 91.952,7328.827 88.773,7329.792 C88.36,7329.916 87.925,7329.684 87.8,7329.272 C87.676,7328.86 87.908,7328.425 88.32,7328.3 C91.951,7327.198 96.466,7327.732 99.553,7329.629 C99.92,7329.854 100.035,7330.334 99.81,7330.7 L99.81,7330.7 Z M98.586,7333.423 C98.406,7333.717 98.023,7333.81 97.729,7333.63 C95.381,7332.195 92.425,7331.871 88.944,7332.666 C88.609,7332.743 88.274,7332.533 88.198,7332.197 C88.121,7331.862 88.33,7331.528 88.667,7331.451 C92.476,7330.58 95.743,7330.955 98.379,7332.566 C98.673,7332.746 98.766,7333.129 98.586,7333.423 L98.586,7333.423 Z M94,7319 C88.477,7319 84,7323.477 84,7329 C84,7334.523 88.477,7339 94,7339 C99.523,7339 104,7334.523 104,7329 C104,7323.478 99.523,7319.001 94,7319.001 L94,7319 Z"
                        id="spotify-[#162]"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </svg>
            </li>
            <li>
              <!--  Facebook-->
              <svg
                width="30px"
                viewBox="0 0 24 24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                7
                class="fill-tc-yellow"
              >
                <title>facebook</title>
                <path
                  d="M1.188 5.594h18.438c0.625 0 1.188 0.563 1.188 1.188v18.438c0 0.625-0.563 1.188-1.188 1.188h-18.438c-0.625 0-1.188-0.563-1.188-1.188v-18.438c0-0.625 0.563-1.188 1.188-1.188zM14.781 17.281h2.875l0.125-2.75h-3v-2.031c0-0.781 0.156-1.219 1.156-1.219h1.75l0.063-2.563s-0.781-0.125-1.906-0.125c-2.75 0-3.969 1.719-3.969 3.563v2.375h-2.031v2.75h2.031v7.625h2.906v-7.625z"
                ></path>
              </svg>
            </li>
            <li>
              <!--  Medium-->
              <svg
                width="30px"
                viewBox="0 0 32 32"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-tc-yellow"
              >
                <title>medium</title>
                <path
                  d="M30.955 16c0 3.951-0.661 7.166-1.483 7.166s-1.483-3.215-1.483-7.166 0.661-7.166 1.483-7.166 1.483 3.215 1.483 7.166zM27.167 16c0 4.412-1.882 8.001-4.212 8.001s-4.225-3.589-4.225-8.001 1.894-8.001 4.225-8.001 4.212 3.589 4.212 8.001zM17.919 16c-0.014 4.67-3.803 8.45-8.475 8.45-4.68 0-8.475-3.794-8.475-8.475s3.794-8.475 8.475-8.475c2.351 0 4.479 0.957 6.014 2.504l0.001 0.001c1.521 1.531 2.46 3.641 2.46 5.97 0 0.009 0 0.018-0 0.026v-0.001z"
                ></path>
              </svg>
            </li>
            <li>
              <!--Discord-->
              <svg
                width="30px"
                "
                viewBox="0 0 192 192"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-tc-yellow"
                ><path
                  stroke="none"
                  "
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="12"
                  d="m68 138-8 16c-10.19-4.246-20.742-8.492-31.96-15.8-3.912-2.549-6.284-6.88-6.378-11.548-.488-23.964 5.134-48.056 19.369-73.528 1.863-3.334 4.967-5.778 8.567-7.056C58.186 43.02 64.016 40.664 74 39l6 11s6-2 16-2 16 2 16 2l6-11c9.984 1.664 15.814 4.02 24.402 7.068 3.6 1.278 6.704 3.722 8.567 7.056 14.235 25.472 19.857 49.564 19.37 73.528-.095 4.668-2.467 8.999-6.379 11.548-11.218 7.308-21.769 11.554-31.96 15.8l-8-16m-68-8s20 10 40 10 40-10 40-10"
                ></path><ellipse
                  class="fill-tc-black-l"
                  cx="71"
                  cy="101"
                  rx="13"
                  ry="15"></ellipse><ellipse
                  class="fill-tc-black-l"
                  cx="121"
                  cy="101"
                  rx="13"
                  ry="15"></ellipse></svg
              >
            </li>
          </ul>
        </div>
        <!--Redes Sociales-->
      </div>
    </div>
  </section>
  <!-- Redes Sociales -->
</BaseLayout>

<style></style>
