---
import { Icon } from "astro-icon"

const info = {
  title: "Redes Sociales",
  socialNetworks: [
    {
      name: "TikTok",
      icon: "bi:tiktok",
      url: "https://www.tiktok.com/@trycatch.tv",
    },
    {
      name: "Twitch",
      icon: "fa-brands:twitch",
      url: "https://www.twitch.tv/trycatch_tv",
    },
    {
      name: "YouTube",
      icon: "fa-brands:youtube",
      url: "https://www.youtube.com/@trycatch_tv",
    },
    {
      name: "Instagram",
      icon: "fa-brands:instagram",
      url: "https://www.instagram.com/trycatch_tv",
    },
    {
      name: "LinkedIn",
      icon: "fa-brands:linkedin",
      url: "https://www.linkedin.com/company/81959782",
    },
    {
      name: "Notion",
      icon: "radix-icons:notion-logo",
      url: "https://notion.trycatch.tv",
    },
    {
      name: "Spotify",
      icon: "fa-brands:spotify",
      url: "https://spoti.fi/3LDvpDp",
    },
    {
      name: "Facebook",
      icon: "fa-brands:facebook-square",
      url: "https://www.facebook.com/trycatch.tv/",
    },
    {
      name: "Medium",
      icon: "fa-brands:medium",
      url: "https://medium.com/@judlup",
    },
    {
      name: "Discord",
      icon: "fa-brands:discord",
      url: "https://discord.gg/VYsfnDjD87",
    },
    {
      name: "GitHub TryCatch.tv",
      icon: "mdi:github",
      url: "https://github.com/Trycatch-tv",
    },
    {
      name: "GitHub Judlup",
      icon: "mdi:github",
      url: "https://github.com/judlup",
    },
    {
      name: "Calendario",
      icon: "fa-regular:calendar",
      url: "https://calendar.google.com/calendar/u/4?cid=YTc3ZmVkNmYwNDhiZDk3OTFhZTQ0MmIzODBiZWE2MGNmZTk2YjM1MTJiMWJiZjRiMWVhM2IzY2UxZWUwMzIxYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t",
    },
    {
      name: "WhatsApp",
      icon: "fa-brands:whatsapp",
      url: "https://bit.ly/trycatchwhatsapp",
    },
    {
      name: "Links del Canal",
      icon: "mdi:link-variant",
      url: "https://linktr.ee/trycatch.tv",
    },
  ],
}
---

<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <div class="mt-5 mb-6">
        <!-- Título -->
        <div
          class="flex items-center justify-center flex-row text-tc-gray-l text-3xl lg:text-4xl"
        >
          <Icon class="w-10 h-10 text-white" name="ri:share-fill" />
          <span class="font-extrabold ml-2">{info.title}</span>
        </div>

        <!-- Subtítulo transmisiones -->
        <p class="text-center text-sm text-gray-300 mt-4 mb-4">
          📺 Transmitimos en vivo todos los días a las <span
            class="text-tc-yellow font-semibold">9:00 pm (hora Colombia)</span
          > en Twitch y otras plataformas.
        </p>

        <!-- Redes sociales -->
        <ul
          class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-8 gap-8 bg-tc-black-l rounded-md p-5 mt-5"
        >
          {
            info.socialNetworks.map((socialNetwork) => (
              <li class="text-white">
                <a
                  href={socialNetwork.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center justify-center rounded-full transition-transform transform hover:scale-110"
                >
                  <Icon
                    class="text-white hover:text-tc-yellow w-8 h-8"
                    name={socialNetwork.icon}
                  />
                </a>
              </li>
            ))
          }
        </ul>
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FBogota&showPrint=0&showCalendars=0&mode=MONTH&src=YTc3ZmVkNmYwNDhiZDk3OTFhZTQ0MmIzODBiZWE2MGNmZTk2YjM1MTJiMWJiZjRiMWVhM2IzY2UxZWUwMzIxYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23616161"
          style="border-width:0"
          style="border-width:0"
          width="100%"
          height="400"
          frameborder="0"
          scrolling="no"
          class="w-full rounded-md mt-4"></iframe>
      </div>
    </div>
  </div>
</section>
