---
import { Icon } from 'astro-icon'

const info = {
  title: "Redes Sociales",
  socialNetworks:[
    {
      name: "Tik Tok",
      icon: "bi:tiktok",
      url: "https://www.tiktok.com/@trycatch.tv",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Twitch",
      icon: "fa-brands:twitch",
      url: "https://www.twitch.tv/trycatch_tv",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Youtube",
      icon: "fa-brands:youtube",
      url: "https://www.youtube.com/@trycatch_tv",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Instragram",
      icon: "fa-brands:instagram",
      url: "https://www.instagram.com/trycatch_tv",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "LinkedIn",
      icon: "fa-brands:linkedin",
      url: "https://www.linkedin.com/company/81959782",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Spotify",
      icon: "fa-brands:spotify",
      url: "https://spoti.fi/3LDvpDp",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Facebook",
      icon: "fa-brands:facebook-square",
      url: "https://www.facebook.com/trycatch.tv/",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Medium",
      icon: "fa-brands:medium",
      url: "https://medium.com/@judlup",
      color: "text-white",
      size: "2xl"
    },
    {
      name: "Discord",
      icon: "fa-brands:discord",
      url: "https://discord.gg/VYsfnDjD87",
      color: "text-white",
      size: "2xl"
    },
  ]
};
---

<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <!--Redes Sociales-->
      <div class="mt-5 mb-6">
        <div class="flex flex-row text-tc-gray-l text-3xl lg:text-4xl ">
          <Icon class="w-10 h-10 text-white" name="ri:share-fill" />
        <span
          class="font-extrabold ml-2"
        >
           {info.title}
        </span>
        </div>
        <ul class="flex justify-around bg-tc-black-l rounded-md p-5 mt-5">
          {info.socialNetworks.map((socialNetwork) => {
            return (
              <li class="text-white" >
                <a
                  href={socialNetwork.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex items-center justify-center rounded-full"
                >
                <span class="flex justify-between">
                  <Icon class="text-white w-6 h-6" name={socialNetwork.icon} />
                </span>
                </a>
              </li>
            );
          })}
        </ul>
      </div>
      <!--Redes Sociales-->
    </div>
  </div>
</section>
