---
import { Icon } from "astro-icon";

const info = {
  title: "Tryckers",
};
---

<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-10 lg:p-12 mb-8">
      <!-- Título -->
      <div class="flex items-center justify-center text-tc-gray-l text-3xl lg:text-4xl font-extrabold">
        <Icon class="w-12 h-12 text-white" name="raphael:people" />
        <span class="ml-3">{info.title}</span>
      </div>

      <!-- Enlace Tryckers -->
      <div class="mt-6">
        <a href="/tryckers" class="block">
          <div 
            class="flex items-center justify-center bg-tc-black-l rounded-md p-6 lg:p-8 transition-transform transform hover:scale-105 shadow-md group"
          >
            <span class="text-white text-lg lg:text-xl font-semibold text-center transition group-hover:text-tc-yellow">
              Conoce a los Tryckers de la comunidad
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
