<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <div>
        <span
          class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold mt-5 mb-6"
        >
          Recientes
        </span>
      </div>
      <div class="flex flex-col lg:flex-row justify-between">
        <div class="bg-tc-black-l w-full lg:w-2/12 lg:p-8 rounded-md mt-5">
          <div class="p-4 lg:p-0">
            <span class="text text-xl text-white">Post</span>
          </div>
          <div class="h-36 lg:h-24 flex items-center justify-center">
            <span>Próximamente</span>
          </div>
          <div
            class="flex justify-start lg:justify-center ml-4 lg:ml-0 mb-4 lg:mb-0"
          >
            <a
              href="#"
              class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-white hover:text-tc-black-l hover:bg-tc-gray-l"
            >
              Ver más
              <svg
                aria-hidden="true"
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path></svg
              >
            </a>
          </div>
        </div>
        <div class="bg-tc-black-l w-full lg:w-2/12 lg:p-8 rounded-md mt-5">
          <div class="p-4 lg:p-0">
            <span class="text text-xl text-white">Video</span>
          </div>
          <div class="h-36 lg:h-24 flex items-center justify-center">
            <span>Próximamente</span>
          </div>
          <div
            class="flex justify-start lg:justify-center ml-4 lg:ml-0 mb-4 lg:mb-0"
          >
            <a
              href="#"
              class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-white hover:text-tc-black-l hover:bg-tc-gray-l"
            >
              Ver más
              <svg
                aria-hidden="true"
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path></svg
              >
            </a>
          </div>
        </div>
        <div class="bg-tc-black-l w-full lg:w-2/12 lg:p-8 rounded-md mt-5">
          <div class="p-4 lg:p-0">
            <span class="text text-xl text-white">Live</span>
          </div>
          <div class="h-36 lg:h-24 flex items-center justify-center">
            <span>Próximamente</span>
          </div>
          <div
            class="flex justify-start lg:justify-center ml-4 lg:ml-0 mb-4 lg:mb-0"
          >
            <a
              href="#"
              class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-white hover:text-tc-black-l hover:bg-tc-gray-l"
            >
              Ver más
              <svg
                aria-hidden="true"
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path></svg
              >
            </a>
          </div>
        </div>
        <div class="bg-tc-black-l w-full lg:w-2/12 lg:p-8 rounded-md mt-5">
          <div class="p-4 lg:p-0">
            <span class="text text-xl text-white">Curso</span>
          </div>
          <div class="h-36 lg:h-24 flex items-center justify-center">
            <span>Próximamente</span>
          </div>
          <div
            class="flex justify-start lg:justify-center ml-4 lg:ml-0 mb-4 lg:mb-0"
          >
            <a
              href="#"
              class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center rounded-lg text-tc-black bg-white hover:text-tc-black-l hover:bg-tc-gray-l"
            >
              Ver más
              <svg
                aria-hidden="true"
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
